INSERT INTO storage.buckets (id, name, public, file_size_limit, allowed_mime_types) 
VALUES ('banners', 'banners', true, 8388608, ARRAY['image/jpeg', 'image/png', 'image/webp', 'image/gif']::text[]) 
ON CONFLICT (id) DO UPDATE SET public = EXCLUDED.public, file_size_limit = EXCLUDED.file_size_limit, allowed_mime_types = EXCLUDED.allowed_mime_types;

CREATE POLICY "banners_public_read" ON storage.objects FOR SELECT TO public USING (bucket_id = 'banners');
CREATE POLICY "banners_admin_insert" ON storage.objects FOR INSERT TO authenticated WITH CHECK (bucket_id = 'banners' AND public.is_admin());
CREATE POLICY "banners_admin_select" ON storage.objects FOR SELECT TO authenticated USING (bucket_id = 'banners' AND public.is_admin());
CREATE POLICY "banners_admin_update" ON storage.objects FOR UPDATE TO authenticated USING (bucket_id = 'banners' AND public.is_admin()) WITH CHECK (bucket_id = 'banners' AND public.is_admin());
CREATE POLICY "banners_admin_delete" ON storage.objects FOR DELETE TO authenticated USING (bucket_id = 'banners' AND public.is_admin());
